<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/cupertino/jquery-ui.css" rel="Stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/colreorder/1.1.1/css/dataTables.colReorder.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/colvis/1.1.0/css/dataTables.colVis.css">
    <link href="~/content/styles/simple-sidebar.css" rel="stylesheet" />
    @Styles.Render("~/Styles/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" id="nav-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_PartialBasicMenu")
                @Html.Partial("_PartialLoginMenu")
            </div>
        </div>
    </div>

    <nav class='sidebar sidebar-menu-collapsed'>
        <a href='#' id='justify-icon'>
            <span class='glyphicon glyphicon-align-justify'></span>
        </a>
        <ul>
            <li class='active'>
                <a class='expandable' href='~/' title='Home'>
                    <span class='glyphicon glyphicon-home collapsed-element'></span>
                    <span class='expanded-element'>Home</span>
                </a>
            </li>
            <li>
                <a class='expandable' href="@Url.Action("Index","Settings")" title='Settings'>
                    <span class='glyphicon glyphicon-cog collapsed-element'></span>
                    <span class='expanded-element'>Settings</span>
                </a>
            </li>
        </ul>
    </nav>

    @Html.Partial("_Alerts")
    @RenderBody()

    <div class="container">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <a href="http://chsakell.com/" target="_blank">Chsakell's blog</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script type="text/javascript">
        (function () {
            $(function () {
                var collapseMyMenu, expandMyMenu, hideMenuTexts, showMenuTexts;
                expandMyMenu = function () {
                    return $("nav.sidebar").removeClass("sidebar-menu-collapsed").addClass("sidebar-menu-expanded");
                };
                collapseMyMenu = function () {
                    return $("nav.sidebar").removeClass("sidebar-menu-expanded").addClass("sidebar-menu-collapsed");
                };
                showMenuTexts = function () {
                    return $("nav.sidebar ul a span.expanded-element").show();
                };
                hideMenuTexts = function () {
                    return $("nav.sidebar ul a span.expanded-element").hide();
                };
                return $("#justify-icon").click(function (e) {
                    if ($(this).parent("nav.sidebar").hasClass("sidebar-menu-collapsed")) {
                        expandMyMenu();
                        showMenuTexts();
                        $(this).css({
                            color: "#000"
                        });
                    } else if ($(this).parent("nav.sidebar").hasClass("sidebar-menu-expanded")) {
                        collapseMyMenu();
                        hideMenuTexts();
                        $(this).css({
                            color: "#FFF"
                        });
                    }
                    return false;
                });
            });

        }).call(this);

    </script>
</body>
</html>